<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Maps request paths at /* to the BlazeDS MessageBroker -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>/*=springManagedMessageBroker</value>
		</property>
	</bean>
	
	<!-- Dispatches requests mapped to a MessageBroker -->
	<bean class="org.springframework.flex.messaging.servlet.MessageBrokerHandlerAdapter" />
	
	<!-- Bootstraps and exposes the BlazeDS MessageBroker -->
	<bean id="springManagedMessageBroker" class="org.springframework.flex.messaging.MessageBrokerFactoryBean" />

	<!-- Expose the guestListService bean for BlazeDS remoting -->
	<bean id="guestService" class="org.springframework.flex.messaging.remoting.FlexRemotingServiceExporter">
		<property name="messageBroker" ref="springManagedMessageBroker"/>
		<property name="service" ref="guestListService"/>
	</bean>
	
	<bean id="guestListService" class="com.sky.flexonspring.services.GuestListService" />
	
</beans>